@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 98vw;
    height: 98vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 312px;
    height: 626px;
    background-image: url("imagens/celular.png");
    background-size: cover;
}

section#telefone > iframe{
    position: relative;
    top: 80px;
    width: 269px;
    height: 476px;
    left:22px;
}

section#icones{
    text-align: right;
}

section#icones > a >img{
    width: 50px;
    height: 50px;
    margin-top: 80px;
    padding: 0px;
    border-radius: 50%;
}

a:hover > img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.637);
    border: 1px solid rgba(250, 235, 215, 0.699);
    box-sizing: border-box; /*Faz a borda fazer parte da caixa*/
    transform: translate(-10%, -10%);
    transition: transform 0.5s, border 1s;
}
